/* Our CSS file. */


#container, .content {
    width: 100%;
    height: 100%;
    }
    
    .full-width-container{
        width:100%;
        background:#F2F2F2;
        height:330px;
        border:1px solid;
        display:inline-block;
    }
    
    .half-width-left-container{
        width:49%;
        height:auto;
        float:left;
        text-align:left;
        margin: 3px;
    }
    
    .half-width-left-container p, h1, button{
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 30px;
    }
        
    .half-width-left-container button{
        background-color: black;
        color:#fff;
        margin-bottom:10px;
        height: 40px;
        width: 80px;
        cursor: pointer;
        font-size: larger;
    }
    
    .half-width-left-container button:hover{
        background-color: gray;
        color:black;
        font-size: x-large;
        font-weight: 600;
    }
    
    .half-width-right-container{
        width:49%;
        height:100%;
        float:left;
        margin: 3px;
    }
    
    #render-wiki{
        width:100%;
        height:300px;
        display: block;
        margin: auto;
        margin-top: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: lightgray;
    }
    
    #full2{
        text-align: center;
        vertical-align: middle;
    }
    
    #full2 h1, p{
        margin-top: 50px;
    }
    
    #full2 p{
        text-align: justify;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    #full2 button{
        background-color: black;
        color:#fff;
        margin-bottom:10px;
        height: 40px;
        width: 80px;
        cursor: pointer;
        font-size: larger;
    }
    
    #full2 button:hover{
        background-color: gray;
        color:black;
        font-size: x-large;
        font-weight: 600;
    }
    
    #render-dictionary{
        width:80%;
        height:300px;
        display: block;
        margin: auto;
        margin-top: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: lightgray;
    }